<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "classpath://org/hibernate/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:XE</property>
		<property name="hibernate.connection.username">JAVA_A_GYAKORLATBAN</property>
		<property name="hibernate.connection.password">Password111</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.default_schema">JAVA_A_GYAKORLATBAN</property>
		
		<mapping class="hu.sol.mik.book.bean.Book"></mapping>
	</session-factory>
</hibernate-configuration>